p#pogrubienie_jackiewicz {
    font-size: 35px;
    color: #865DCF;
}
p#pochylona_jackiewicz {
    font-size: 40pt;
    color: #EAC16B;
}
p#index_gorny_jackiewicz {
    font-size: 1.5cm;
    color: #9A8F1B;
}
p#index_dolny_jackiewicz {
    font-size: 2.5cm;
    color: rgb(138,255,255);
}
p#mono_jackiewicz {
    font-size: 45px;
    color: #1ADF6B;
}
p#powiekszenie_jackiewicz {
    color: #543F9D;
}
p#pomniejszenie_jackiewicz {
    color: rgb(255,255,145);
}